<div class="container-fluid mt-4">
  <h1>Pets for rentto</h1>
  <p>They can't wait to play with you!</p>
  <p id="notice"><%= notice %></p>
  <% if policy(Pet).new? %>
    <%= link_to 'Add your pet for rental', new_pet_path, class: "btn btn-success my-3" %>
  <% end %>
  <div class="cards">
    <% @pets.each do |pet| %>
      <%= render 'pet_card', pet: pet %>
    <% end %>
  </div>
  <br>
</div>
