<div class="container-fluid mt-4">
  <h1 class="index-title">Pets for rentto</h1>
  <p class="index-title">They can't wait to play with you!</p>
  <p id="notice"><%= notice %></p>
  <% if policy(Pet).new? %>
    <button type="button" class="btn btn-success my-3" data-bs-toggle="modal" data-bs-target="#newpet">
      Add your pet for rental
    </button>
    <%=render 'pets/new' %>
  <% end %>
  <div class="cards">
    <% @pets.each do |pet| %>
      <%= render 'pet_card', pet: pet %>
    <% end %>
  </div>
  <br>
</div>
