<h1>Pets#new</h1>
<p>Find me in app/views/pets/new.html.erb</p>

<h3>Create a new pet</h3>
<%= simple_form_for @pet do |f| %>
  <%= f.submit class: 'btn btn-flat' %>
<% end %>

<%= link_to 'Back', pets_path %>
