<h1>Pets#new</h1>
<<<<<<< HEAD

<h3>Create a new booking</h3>
<%= simple_form_for @booking do |f| %>
<%= f.input :photo %>
<%= f.submit class: "btn btn-primary" %>

<% end %>

<%= link_to 'Back', pets_path %>
=======
>>>>>>> 3b1244473a84619f4cd92978cb4a94bae50f5126
