<h1>Owner::Bookings#index</h1>
<p>Find me in app/views/owner/bookings/index.html.erb</p>
<h1>Here are all the bookings</h1>
      <%= @bookings.each do |booking| %>
        <%= booking %>
      <% end %>
