<h1 class="text-center mt-3">My pet rentals</h1>
<div class="container">
<% @bookings.each do |booking| %>
  <%# <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)"> %>
  <%= render 'booking_card', booking: booking %>
  <%# </div> %>
  <% end %>
</div>
