<html>
<head>
    <meta charset="utf-8">
    <title>Combine your components</title>

    <link rel="stylesheet" href="css/style.css">
  </head>
<body cz-shortcut-listen="true">
    <!-- TODO: Use your components to create a simple landing page -->
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/406014/pexels-photo-406014.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);">
      <div class="container">
        <h1><strong>Rentto Petto</strong></h1>
        <p>Let's find new pet! Don’t miss this onece in a lifetime meeting!</p>
        <%= link_to "See All Pets!", pets_path, class: "btn btn-flat" %>
      </div>
    </div>



    <div class="container">
    <div class="cards my-5">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/45170/kittens-cat-cat-puppy-rush-45170.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
        Cats
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/3299905/pexels-photo-3299905.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260)">
        Dogs
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/234054/pexels-photo-234054.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
        Monkeys
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/10963093/pexels-photo-10963093.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
        Rabbits
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/37833/rainbow-lorikeet-parrots-australia-rainbow-37833.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
        Birds
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/1394938/pexels-photo-1394938.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
        Snakes
      </div>
    </div>
    </div>
</body>
