.form-actions {
  input[type="submit"] {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    font-weight: bold;
    background: linear-gradient(#167FFB, #0F60C4);
    transition: background 0.3s ease;
    border: 1px solid #0F60C4;
  }
  input[type="submit"]:hover {
    background: linear-gradient(#147EFF, #0F67DA);
    color: white;
  }
}

.btn-gradient {
  padding: 10px;
  width: 30%;
  color: floralwhite;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
  font-weight: bold;
}

.btn-gradient:hover {
  background: linear-gradient(#F4CC57, #F4CC57);
  color: white;
}
